footer {
	background: #853816;
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 20vw;
	box-sizing: border-box;
}

footer button {
	font-family: $base-font;
	background: #333;
	border: none;
	height: 40px;
	min-width: 100px;
	color: #fff;
	text-transform: uppercase;
	&:hover,
	&:focus {
		opacity: 0.9;
		transition: 0.5s;
		cursor: pointer;
	}
	&:disabled {
		background-color: #444;
		color: #aaa;
	}
}

#bets {
	display: flex;
	justify-content: center;
}

.info {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	color: #fff;
	font-weight: bold;
	margin-top: 15px;
}

.actions {
	display: flex;
	margin-top: 25px;
}

#deck {
	display: none;
}
