#result-popup {
	color: #fff;
	font-size: 1.5rem;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
	.popup {
		background: transparent;
		margin: 20px;
		padding: 40px;
		border-radius: 10px;
		text-align: center;
	}
	.resume {
		margin: 40px 0;
		font-size: 1.25rem;
	}
}
